In [1]:
# Dependencies and Setup
import glob
import pandas as pd

In [2]:
# glob.glob('data*.csv') - returns List[str]
# pd.read_csv(f) - returns pd.DataFrame()
# for f in glob.glob() - returns a List[DataFrames]
# pd.concat() - returns one pd.DataFrame()
clean_data_usa = pd.concat([pd.read_csv(f) for f in glob.glob('raw_data/usa_data/*.csv')], ignore_index = True)

In [3]:
clean_data_usa.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,38585,Charming Victorian twin BR for 2,165529,Evelyne,NaN,28804,35.651459,-82.627918,Private room,55,2,113,2018-07-15,1.20,1,77
1,80713,Beautiful Downtown Homestead • Monthly • Sky Room,1675743,Janell,NaN,28801,35.586782,-82.549277,Private room,96,30,42,2016-08-29,0.47,5,365
2,80905,French Industrial Chic Loft,427027,Celeste,NaN,28801,35.597006,-82.552370,Entire home/apt,765,1,82,2018-07-15,0.98,12,338
3,80965,Downtown Asheville's Groovy Gem.,438413,Kelly,NaN,28801,35.605291,-82.556274,Entire home/apt,225,30,0,NaN,NaN,1,89
4,86980,Downtown Urban Homestead • Monthly • Sage Rm,1675743,Janell,NaN,28801,35.585129,-82.550871,Private room,90,30,46,2016-08-16,0.53,5,365

In [4]:
# Add country column
clean_data_usa['country'] = 'usa'
clean_data_usa.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,country
0,38585,Charming Victorian twin BR for 2,165529,Evelyne,NaN,28804,35.651459,-82.627918,Private room,55,2,113,2018-07-15,1.20,1,77,usa
1,80713,Beautiful Downtown Homestead • Monthly • Sky Room,1675743,Janell,NaN,28801,35.586782,-82.549277,Private room,96,30,42,2016-08-29,0.47,5,365,usa
2,80905,French Industrial Chic Loft,427027,Celeste,NaN,28801,35.597006,-82.552370,Entire home/apt,765,1,82,2018-07-15,0.98,12,338,usa
3,80965,Downtown Asheville's Groovy Gem.,438413,Kelly,NaN,28801,35.605291,-82.556274,Entire home/apt,225,30,0,NaN,NaN,1,89,usa
4,86980,Downtown Urban Homestead • Monthly • Sage Rm,1675743,Janell,NaN,28801,35.585129,-82.550871,Private room,90,30,46,2016-08-16,0.53,5,365,usa

In [5]:
# Save clean data to csv# Save  # Save c 
clean_data_usa.to_csv('clean_data/clean_data_usa.csv', index = False)