In [1]:
# Ddd dependencies
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float, Date

In [2]:
# Load csv files
usa_data = 'clean_data/clean_data_usa.csv'
china_data = 'clean_data/clean_data_china.csv'

In [3]:
# Read Data File and store into Pandas Data Frames
usa_df = pd.read_csv(usa_data, encoding = "ISO-8859-1")
china_df = pd.read_csv(china_data, encoding = "ISO-8859-1")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
usa_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,area,country
0,38585,Charming Victorian twin BR for 2,165529,Evelyne,NaN,28804,35.651459,-82.627918,Private room,55,2,113,7/15/2018,1.20,1,77,Asheville,usa
1,80713,Beautiful Downtown Homestead ?????Monthly ??? ...,1675743,Janell,NaN,28801,35.586782,-82.549277,Private room,96,30,42,8/29/2016,0.47,5,365,Asheville,usa
2,80905,French Industrial Chic Loft,427027,Celeste,NaN,28801,35.597006,-82.552370,Entire home/apt,765,1,82,7/15/2018,0.98,12,338,Asheville,usa
3,80965,Downtown Asheville's Groovy Gem.,438413,Kelly,NaN,28801,35.605291,-82.556274,Entire home/apt,225,30,0,NaN,NaN,1,89,Asheville,usa
4,86980,Downtown Urban Homestead ??? Monthly ??? Sage Rm,1675743,Janell,NaN,28801,35.585129,-82.550871,Private room,90,30,46,8/16/2016,0.53,5,365,Asheville,usa

In [5]:
china_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,area,country
0,44054,Modern 3BD/2BTH (4Beds) Serviced Apt (A39),192875,East Apartments,NaN,????????? / Chaoyang,39.895030,116.451635,Entire home/apt,814,1,79,8/2/2018,0.81,12,332,Beijing,china
1,100213,The Great Wall Box Deluxe Suite A?????????????...,527062,Joe,NaN,????????? / Miyun,40.684340,117.172313,Private room,1200,1,2,10/8/2017,0.17,4,0,Beijing,china
2,128496,Heart of Beijing: House with View 2,467520,Cindy,NaN,?????????,39.932130,116.421998,Entire home/apt,400,3,253,7/29/2018,2.88,1,30,Beijing,china
3,161902,cozy studio in center of Beijing,707535,Robert,NaN,?????????,39.933566,116.435765,Entire home/apt,386,1,26,12/3/2016,0.31,4,290,Beijing,china
4,162144,"nice studio near subway, sleep 4",707535,Robert,NaN,????????? / Chaoyang,39.936680,116.437985,Entire home/apt,552,1,37,8/1/2018,0.44,4,337,Beijing,china

In [6]:
# Create the Schools_data class# Creat 
class Usa_table(Base):
    __tablename__ = 'usa_table'
    id = Column(Integer, primary_key = True)
    name = Column(String(255))
    host_id = Column(Float)
    host_name = Column(String(255))
    neighbourhood_group = Column(String(255))
    neighbourhood = Column(Integer)
    latitude = Column(Float)
    longitude = Column(Float)
    room_type = Column(Float)
    price = Column(Float)
    minimum_nights = Column(Float)
    number_of_reviews = Column(Float)
    last_review = Column(Date)
    reviews_per_month = Column(Float)
    calculated_host_listings_count = Column(Integer)
    availability_365 = Column(Float)
    area = Column(String(255))  
    country = Column(String(255)) 
    
class China_table(Base):
    __tablename__ = 'china_table'
    id = Column(Integer, primary_key = True)
    name = Column(String(255))
    host_id = Column(Float)
    host_name = Column(String(255))
    neighbourhood_group = Column(String(255))
    neighbourhood = Column(Integer)
    latitude = Column(Float)
    longitude = Column(Float)
    room_type = Column(Float)
    price = Column(Float)
    minimum_nights = Column(Float)
    number_of_reviews = Column(Float)
    last_review = Column(Date)
    reviews_per_month = Column(Float)
    calculated_host_listings_count = Column(Integer)
    availability_365 = Column(Float)
    area = Column(String(255))  
    country = Column(String(255))

In [7]:
# Create the datbase and add the classes
engine = create_engine("sqlite:///database.sqlite", echo = False)
conn = engine.connect()
session = Session(engine)

Base.metadata.create_all(conn)

In [8]:
# Send the station dataframe to the sqlite database
usa_df.to_sql('usa_table', engine, if_exists='replace')
china_df.to_sql('china_table', engine, if_exists='replace')